body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: Arkhive;
    src: url("/fonts/arkhive.ttf");
}

@font-face {
    font-family: B52;
    src: url("/fonts/B52.ttf");
}